---
import { actions } from "astro:actions";
import MainLayout from "@/layouts/MainLayout.astro";
import { Formatter } from "@/utils";


const { data, error } = await Astro.callAction(actions.getProducts, {});

if (error) {
  return Astro.redirect("/");
}

const { products } = data;
---

<MainLayout title="Admin Dashboard" description="Admin Dashboard">
  <h1 class="font-bold text-2xl">Dashboard</h1>
  <p class="font-semibold text-lg">Product List</p>
  <table class="w-full mt-5">
    <thead>
      <tr>
        <th class="text-left">Image</th>
        <th class="text-left">Title</th>
        <th class="text-left">Daily Charges</th>
        <th class="text-left">Inventory</th>
      </tr>
    </thead>
    <tbody>
      {
        products.map((product) => (
          <tr>
            <td>
              {
                product.images.length > 0 ? (
                  <img
                      src={`/images/vehicles/${product.images.split(',')[0]}`}
                      alt={product.name}
                      class="w-16 h-16 mb-2"
                  />
                ) : (
                  <img src=`/images/products/no-image.png` alt="No image">
                )
              }
            </td>
            <td>
              <a
                class="hover:underline cursor-pointer"
                href={`/admin/products/${product.slug}`}
              >
                {product.name}
              </a>
            </td>
            <td>{Formatter.currency(product.price)}</td>
            <td class="justify-end">{product.stock}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</MainLayout>
